In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
# set up panel data
pdata = pd.read_csv("http://web.pdx.edu/~crkl/ceR/data/airline.txt", sep='\s+', nrows=90, index_col=['I','T'])
pdata
# alternatively
# data = pd.read_csv("http://web.pdx.edu/~crkl/ceR/data/airline.txt", sep='\s+', nrows=90)
# Set data as panel data
# pdata = data.set_index(['I', 'T'], inplace=True)

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
# set up panel data
pdata = pd.read_csv("CB data-1.csv", index_col = ["ID", "Year"],   
                   parse_dates = True)
pdata
# alternatively
# data = pd.read_csv("http://web.pdx.edu/~crkl/ceR/data/airline.txt", sep='\s+', nrows=90)
# Set data as panel data
# pdata = data.set_index(['I', 'T'], inplace=True)

                SL  Market Capitalization   Market Cap Growth  \
ID  Year
TMP 2019-01-01   1          1,367,031,594               0.193
    2018-01-01   1          1,145,996,404              -0.073
    2017-01-01   1          1,236,784,388              -0.131
    2016-01-01   1          1,423,389,891               0.701
    2015-01-01   1            836,855,660               0.025
...             ..                     ...                ...
BCS 2014-01-01  54         60,465,197,835               0.090
    2013-01-01  54         55,489,736,570               0.050
    2012-01-01  54         52,823,723,087               0.578
    2011-01-01  54         33,469,882,543              -0.290
    2010-01-01  54         47,129,813,960               0.279

                Debt / Equity Ratio  Debt / FCF Ratio  Return on Equity (ROE)  \
ID  Year
TMP 2019-01-01                1.112             7.657                   0.125
    2018-01-01                1.896            12.701                   0.138
    2017-01-01                2.024            22.846                   0.091
    2016-01-01                1.810            13.276                   0.108
    2015-01-01                1.379             9.279                   0.115
...                             ...               ...                     ...
BCS 2014-01-01               11.887           -65.859                  -0.003
    2013-01-01               12.579           -27.133                   0.010
    2012-01-01               17.739           -63.139                  -0.012
    2011-01-01               17.875            34.557                   0.056
    2010-01-01               17.435            52.410                   0.073

                Return on Assets (ROA)  Return on Capital (ROIC)  \
ID  Year
TMP 2019-01-01                   0.012                     0.014
    2018-01-01                   0.012                     0.014
    2017-01-01                   0.008                     0.013
    2016-01-01                   0.010                     0.013
    2015-01-01                   0.011                     0.015
...                                ...                       ...
BCS 2014-01-01                   0.000                     0.000
    2013-01-01                   0.000                     0.001
    2012-01-01                   0.000                     0.000
    2011-01-01                   0.002                     0.002
    2010-01-01                   0.002                     0.002

                Log Total Assets  Log Currency in Circulation ($ Bil)  \
ID  Year
TMP 2019-01-01            15.230                                7.492
    2018-01-01            15.222                                7.442
    2017-01-01            15.308                                7.381
    2016-01-01            15.311                                7.313
    2015-01-01            15.317                                7.255
...                          ...                                  ...
BCS 2014-01-01            15.319                                7.190
    2013-01-01            15.200                                7.115
    2012-01-01            14.881                                7.053
    2011-01-01            14.877                                6.972
    2010-01-01            14.688                                6.887

                Effective Federal Funds Rate (%)  Loss Function
ID  Year
TMP 2019-01-01                             1.551          0.029
    2018-01-01                             2.274          0.013
    2017-01-01                             1.302         -0.088
    2016-01-01                             0.540         -0.519
    2015-01-01                             0.241         -1.759
...                                          ...            ...
BCS 2014-01-01                             0.123         -2.841
    2013-01-01                             0.085         -7.407
    2012-01-01                             0.165        -15.307
    2011-01-01                             0.072        -20.251
    2010-01-01                             0.183        -28.982

[540 rows x 12 columns]

In [4]:
import seaborn as sns
import matplotlib as plt

In [5]:
pdata = pdata.drop(["SL"], axis = 1)

In [6]:
pdata.describe()

,Market Cap Growth,Debt / Equity Ratio,Debt / FCF Ratio,Return on Equity (ROE),Return on Assets (ROA),Return on Capital (ROIC),Log Total Assets,Log Currency in Circulation ($ Bil),Effective Federal Funds Rate (%),Loss Function
count,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.00000
mean,0.216502,1.136930,6.343000,0.086111,0.009646,0.013672,15.135300,7.210000,0.653600,-7.71120
std,0.376532,1.832502,38.175251,0.056684,0.006142,0.007287,0.219199,0.192602,0.738104,9.78682
min,-0.466000,0.041000,-365.473000,-0.692000,-0.069000,-0.060000,14.688000,6.887000,0.072000,-28.98200
25%,-0.019250,0.433250,2.885500,0.072000,0.008000,0.011000,14.881000,7.053000,0.123000,-15.30700
50%,0.135500,0.768500,5.608000,0.090000,0.010000,0.014000,15.226000,7.222500,0.212000,-2.30000
75%,0.366500,1.148250,9.802000,0.109000,0.012000,0.017000,15.311000,7.381000,1.302000,-0.08800
max,3.730000,17.875000,530.212000,0.340000,0.036000,0.040000,15.319000,7.492000,2.274000,0.02900

In [16]:
column_names = {'Debt / Equity Ratio':'DE',
                'Debt / FCF Ratio':'DF',
                'Liquidity Ratio': 'LR',
                'Return on Equity (ROE)':'ROE',
               'Return on Assets (ROA)': 'ROA',
               'Return on Capital (ROIC)': 'ROIC',
               'Log Total Assets': 'TA',
               'Log Currency in Circulation ($ Bil)': 'CC',
               'Effective Federal Funds Rate (%)': 'FFR',
               'Loss Function': 'LF'}

# rename columns
pdata =pdata.rename(columns = column_names)

pdata

                Market Capitalization   Market Cap Growth     D/E     D/F  \
ID  Year
TMP 2019-01-01          1,367,031,594               0.193   1.112   7.657
    2018-01-01          1,145,996,404              -0.073   1.896  12.701
    2017-01-01          1,236,784,388              -0.131   2.024  22.846
    2016-01-01          1,423,389,891               0.701   1.810  13.276
    2015-01-01            836,855,660               0.025   1.379   9.279
...                                ...                ...     ...     ...
BCS 2014-01-01         60,465,197,835               0.090  11.887 -65.859
    2013-01-01         55,489,736,570               0.050  12.579 -27.133
    2012-01-01         52,823,723,087               0.578  17.739 -63.139
    2011-01-01         33,469,882,543              -0.290  17.875  34.557
    2010-01-01         47,129,813,960               0.279  17.435  52.410

                  ROE    ROA   ROIC      TA     CC    FFR      LF
ID  Year
TMP 2019-01-01  0.125  0.012  0.014  15.230  7.492  1.551   0.029
    2018-01-01  0.138  0.012  0.014  15.222  7.442  2.274   0.013
    2017-01-01  0.091  0.008  0.013  15.308  7.381  1.302  -0.088
    2016-01-01  0.108  0.010  0.013  15.311  7.313  0.540  -0.519
    2015-01-01  0.115  0.011  0.015  15.317  7.255  0.241  -1.759
...               ...    ...    ...     ...    ...    ...     ...
BCS 2014-01-01 -0.003  0.000  0.000  15.319  7.190  0.123  -2.841
    2013-01-01  0.010  0.000  0.001  15.200  7.115  0.085  -7.407
    2012-01-01 -0.012  0.000  0.000  14.881  7.053  0.165 -15.307
    2011-01-01  0.056  0.002  0.002  14.877  6.972  0.072 -20.251
    2010-01-01  0.073  0.002  0.002  14.688  6.887  0.183 -28.982

[540 rows x 11 columns]

In [8]:
df = pdata

In [9]:
# Descriptive statistics
df.describe()

,Market Cap Growth,D/E,D/F,ROE,ROA,ROIC,TA,CC,FFR,LF
count,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.000000,540.00000
mean,0.216502,1.136930,6.343000,0.086111,0.009646,0.013672,15.135300,7.210000,0.653600,-7.71120
std,0.376532,1.832502,38.175251,0.056684,0.006142,0.007287,0.219199,0.192602,0.738104,9.78682
min,-0.466000,0.041000,-365.473000,-0.692000,-0.069000,-0.060000,14.688000,6.887000,0.072000,-28.98200
25%,-0.019250,0.433250,2.885500,0.072000,0.008000,0.011000,14.881000,7.053000,0.123000,-15.30700
50%,0.135500,0.768500,5.608000,0.090000,0.010000,0.014000,15.226000,7.222500,0.212000,-2.30000
75%,0.366500,1.148250,9.802000,0.109000,0.012000,0.017000,15.311000,7.381000,1.302000,-0.08800
max,3.730000,17.875000,530.212000,0.340000,0.036000,0.040000,15.319000,7.492000,2.274000,0.02900

In [13]:
# Pooled OLS estimator
from linearmodels import PooledOLS
pooled = PooledOLS.from_formula('ROE ~ 1 + D/E + D/F + TA + CC + FFR', df).fit()
print(pooled)

FactorEvaluationError: Unable to evaluate factor `D`. [KeyError: 'D']